Flask==3.0.3
functions-framework==3.8.3
google-cloud-error-reporting==1.12.0
google-cloud-logging==3.11.3
google-cloud-resource-manager==1.13.1
pytest==8.3.4
pytest-env==1.1.5
requests-mock==1.12.1
jsonpath-ng==1.7.0
